# Servidor
PUERTO=3000
ENTORNO=desarrollo

# SQL Server
BD_SERVIDOR=172.16.10.15
BD_PUERTO=1433
BD_USUARIO=sig
BD_CONTRASENA=cc2008DC@
BD_NOMBRE=AlmacenDB
BD_ENCRIPTAR=true
BD_CONFIAR_CERTIFICADO=true

# JWT
JWT_SECRETO=PruebaTest1
JWT_EXPIRACION=2h
COOKIE_SEGURA=false

# Usuario administrador inicial
ADMIN_NOMBRE=Administrador
ADMIN_CORREO=admin@almacen.com
ADMIN_CONTRASENA=Admin123*
